body {
  margin-left: 35px;
}
.first-body {
  display: flex;
  background-color: hsl(30, 54%, 90%);
  padding: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.inner-body {
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 12px;
  padding: 40px;
  max-width: 45.5%;
}
.image-omelette {
  width: 100%;
  border: solid;
  border-style: none;
  border-radius: 12px;
}
h1 {
  font-family: Young Serif;
  font-weight: 0;
  font-size: 35px;
}
h2 {
  font-family: Young Serif;
  font-weight: 0;
  font-size: 25px;
  color: hsl(14, 45%, 36%);
}
p {
  font-family: outfit, Arial, Helvetica, sans-serif;
  color: hsl(30, 10%, 34%);
}
.prep p {
  color: hsl(332, 51%, 32%);
}
.preparation-time {
  border: none;
  background-color: hsl(330, 100%, 98%);
  border-radius: 12px;
  padding: 20px;
}
.list {
  padding-left: 20px;
  font-family: outfit, Arial, Helvetica, sans-serif;
  color: hsl(30, 10%, 34%);
  margin-bottom: 30px;
}
ul.list li::marker {
  color: hsl(332, 51%, 32%);
  margin-right: 1000px
}
ul.list {
  list-style-position: inside;
  padding-left: 25px;
  list-style: disc;
}
ul.list li {
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 1.6;
}
ol.list li::marker {
  color: hsl(14, 45%, 36%);
}
ol.list {
  list-style-position: inside;
  padding-left: 25px;
  list-style: decimal;
}
ol.list li {
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 1.6;
}
.prep {
  font-size: 20px;
}
.nutrition-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
}
.nutrient {
  padding-left: 35px;
}
.grams p {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
  color: hsl(30, 10%, 34%);
}

.footer a {
  color: hsl(14, 45%, 36%);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
